* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	background-image: linear-gradient(red, yellow);
    background-size: cover;
    font-family: Arial, sans-serif;
}

.container {
    background-color: rgba(255, 255, 255, 0.7);
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

form {
    display: flex;
    flex-direction: column;
}

input, select, button {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="radio"] {
    margin-right: 5px;
}

button {
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}


h1{
	text-align: center;
}